<ion-view view-title="Score">
  <ion-content class="">
      
      <div class="row" ng-repeat="item in winners">
          <div class="col col-50 center animated bounceInUp">
            <div class="player-container"><img class="player {{item.border}}" src="{{item.foto}}">
              <div class="badge-1 center"><strong>{{item.numero}}</strong></div>
            </div>
            
          </div>
          <div class="col col-50 left text-description-winner">
                <h4 class="w700">{{item.porcentaje}}</h4>
                {{item.nombre}}
              
            </div>
      </div>
    
      
      
      <div class="bg-accent "></div>
        
        
  </ion-content>
</ion-view>
