<ion-view view-title="Matches">
    <ion-content class="padding ">
       
        <div class="bg-accent-horizontal bounceInRight "></div>
        <div class="row animated bounceInRight">
          <div class="col col-33 center"><div><img class="player-vs border1" src="img/octavio.jpg"></div></div>
          <div class="col col-33 center vs"><div class="badge-vs center"><strong>VS</strong></div></div>
          <div class="col col-33 center"><div><img class="player-vs border2" src="img/miguel.jpg"></div></div>
        </div>
        <div class="row noPadding">
            <div class="col col-50 center">             
                <label class = "item-input item-select">
                    <div class = "input-label">
                       Name
                    </div>
                   
                    <select ng-model="selectedPlayer" ng-options="x.player for x in players">
                    </select>
                 </label>
                     <div class="row noPadding">
                        <div class="col col-50"><h5>Points</h5></div>
                        <div class="col col-50"><input type="text" placeholder="Points">  </div>
                    </div>
            </div>
            
            <div class="col col-50 center">
                <label class = "item-input item-select">
                    <div class = "input-label">
                       Name
                    </div>
                    <select ng-model="selectedPlayer2" ng-options="x.player2 for x in players2">
                    </select>
                 </label>
                  <div class="row noPadding">
                     <div class="col col-50"><h5>Points</h5></div>
                     <div class="col col-50"><input type="text" placeholder="Points">  </div>
                 </div>
            </div>
        </div>

         <button class="button button-block button-accent">
            Add Score 
          </button>
        
      </ion-content>
</ion-view>



   