
<ion-view view-title="New Game">
    <ion-content class="noPadding">
        <ion-item ng-repeat="item in matchs" item="item" class="noPadding  ">
          <div class="animated {{item.animacion}}">
          <div class="bg-accent-horizontal "></div>
          <div class="row">
            <div class="col col-33 center"><div><img class="player-vs {{item.border1}}" src="{{item.imgPlayer1}}"></div></div>
            <div class="col col-33 center vs"><div class="badge-vs center "><strong>VS</strong></div></div>
            <div class="col col-33 center"><div><img class="player-vs {{item.border2}}" src="{{item.imgPlayer2}}"></div></div>
          </div>
          <div class="row noPadding">
              <div class="col col-33 center">             
                <h5>{{item.name1}}</h5>
                <h5>{{item.point1}}</h5>
              </div>
              <div class="col col-33 center">  </div>
              <div class="col col-33 center">
                  <h5>{{item.name2}}</h5>
                  <h5>{{item.point2}}</h5>
                  
              </div>
          </div>
        </div>
          </ion-item>
        
      </ion-content>
</ion-view>