
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Score" icon-off="icon-tennis-racket" icon-on="icon-tennis-racket2" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Match Tab -->
  <ion-tab title="Matchs" icon-off="icon-soccer-court" icon-on="icon-soccer-court2" href="#/tab/match">
    <ion-nav-view name="tab-match"></ion-nav-view>
  </ion-tab>

  <!-- New Game Tab -->
  <ion-tab title="New Game" icon-off="icon-tennis-ball" icon-on="icon-tennis-ball2" href="#/tab/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>


</ion-tabs>
