/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;

$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Colors 

$stable:    #4db6ac!default;
$font-white:#ffffff!default;
$positive:  #ffffff!default;
$accent: #cddc39 !default;
$teal-primary: #4db6ac;
$yellow: #fbd303;
$font-color: #323c3f;

//border-colour
$border1: #4db6ac;
$border2: #00bcd4;
$border3: #a5d6a7;
$border4: #90caf9;




body{
    color: $font-color !important;

}

h1, h2, h3, h4, h5{
    color: $font-color !important;
}
.bar.bar-stable{
    background: $stable !important
}

.bar.bar-stable .title{
    color: $font-white !important;
}

.tabs{
    background: $stable !important 
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
    color: $positive !important 
}


.center{
    text-align: center
}
.left{
    text-align: left
}

.bg-accent{
    position: absolute;
    z-index: -5;
    width: 10px;
    background-color: $accent;
    height: 100vh;
    top: 0px;
    left: 25%;
    
}

.bg-accent-horizontal{
    position: absolute;
    z-index: -5;
    width: 220%;
    background-color: $accent;
    height: 20px;
    top: 3.8rem;
    left: 0px;
    transform: translate(-50%, -50%);
}

.player{
    
    width: 100px;
    height: 100px;
    z-index: 20;
    margin: 0 auto;
    border: 7px solid $teal-primary;
    border-radius: 200px ;
}
[class*="player-container"] {
    margin-bottom: 30px
    
   }
.player-vs{
    
    width: 100px;
    height: 100px;
    z-index: 20;
    margin: 0 auto;
    border-radius: 200px ;
}
.border-blue{
    border-color: $teal-primary;
   
}

.text-description-winner{
    padding-top: 1rem;
    padding-left: 1rem;
}

.vs{
    padding-top: 2.8rem;
}

.noPadding{
    padding: 0px
}

.button-accent{
    background: $accent;
    color: $font-white;
    border-radius: 100px
}

.badge-1{
    width: 30px;
    height: 30px;
    border: 3px solid $font-white;
    border-radius: 200px ;
    background: $yellow;
    margin: 0 auto;
    position: relative;
    top: -21px;
}

.badge-vs{
    width: 35px;
    height: 35px;
    border: 3px solid $font-white;
    border-radius: 200px ;
    background: $yellow;
    margin: 0 auto;
    position: relative;
    top: -7px;
    line-height: 30px;
}

.w700{
    font-weight: 700;
}

.input-label{
    padding: 4px 10px 7px 0px;
    font-weight: 700;
    font-size: 14px;
}


.item h5, .item h6{
    font-size: 14px !important
}


.border1{
    border: 7px solid $border1;  
}

.border2{
    border: 7px solid $border2;  
}

.border3{
    border: 7px solid $border3;  
}

.border4{
    border: 7px solid $border4;  
}