/* Empty. Add your own CSS if you like */


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jsh837');
    src:  url('../fonts/icomoon.eot?jsh837#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jsh837') format('truetype'),
      url('../fonts/icomoon.woff?jsh837') format('woff'),
      url('../fonts/icomoon.svg?jsh837#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-tennis-racket:before {
    content: "\e900";
  }
  .icon-tennis-racket2:before {
    content: "\e901";
  }
  .icon-tennis-ball:before {
    content: "\e902";
  }
  .icon-tennis-ball2:before {
    content: "\e903";
  }
  .icon-soccer-court:before {
    content: "\e904";
  }
  .icon-soccer-court2:before {
    content: "\e905";
  }
